DATABASE_URL="postgres://username:password@host:port/database" #DB is required for storing instagram token and automation rules
NEXTAUTH_SECRET='SECRET' #use base64 secret string
INSTAGRAM_CLIENT_ID=''  #get this from meta developers portal (https://www.youtube.com/watch?v=IBs-yJOhTto)
INSTAGRAM_CLIENT_SECRET='' #get this from meta developers portal (https://www.youtube.com/watch?v=IBs-yJOhTto)
NEXT_PUBLIC_BASE_URL='http://localhost:3000' #your app url